#selecton-settings-label {
    display: inline; font-size: 18px;vertical-align: middle; color: grey; 
}

.circleButton {
    opacity: 0.8;
    border-radius: 50%;
    padding: 3px;
    margin-left: 3px;
}

.float {
    float: right;
}

.circleButton:hover{
    background-color: lightGrey;
    cursor: pointer;
}

#popup-header {
    padding: 6px; border-bottom: 1px solid lightGrey; vertical-align: bottom;
    height: 25px;
}

#headerLogo {
    display: inline; vertical-align: middle;
}

iframe {
    display: block; margin: 0px !important; width: 100%; 
    height: 525px; 
    min-width: 400px; 
}

@-moz-document url-prefix() {
  body { font-family: sans-serif !important; }
  iframe { min-width: 365px; }
  #headerLogo {vertical-align: bottom;}
}


@media not all and (min-resolution:.001dpcm){ @supports (-webkit-appearance:none) {
    #selecton-settings-label {
        color: black; opacity: 0.65;
    }
}}

 @media (prefers-color-scheme: dark) {
    body {
        background: rgb(40,41,44);
        color: white;
    }

    #selecton-settings-label {
        color: lightgray;
    }

    #openSettingsInTabButton {
        filter: invert(100%);
    }

    #popup-header {
        border-bottom: 1px solid gray;
    }
}