/* Tooltip */
  .selection-tooltip {
    all: revert;
    background: #3B3B3B;
    opacity: 0;
    display: inline-block;
    position: absolute;
    padding: 3px;
    color: white;
    border-radius: 3px;
    font-stretch: condensed;
    text-decoration: none;
    z-index: 9999 !important;
    max-height: 24px !important;
    margin: 0px !important;
  }

/* Arrow */
  .selection-tooltip-arrow {
    z-index:9999 !important;
    width: 50px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -33px;
    bottom: -16px;
  }

  .selection-tooltip-arrow-child {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    background: #3B3B3B;
  }

/* Buttons */
  .selection-popup-button {
    all: revert;
    max-height: 24px !important;
    color: var(--selection-button-foreground);
    background-color: transparent !important;
    cursor: pointer;
    border: none !important;
    box-shadow: none !important;
    z-index: 9999 !important;
    padding:  4px 12px !important;
    vertical-align: top !important;
    font-family: Arial, Helvetica, sans-serif !important;
    height: 100% !important;
    min-height: 100% !important;
    margin: 0px !important;
    transition: background-color 25ms ease-in-out !important;
    text-transform: none !important;
    outline: none !important;
    /* align-items: top !important; */
    /* line-height: 100% !important; */
    /* padding:  var(--selection-button-padding) !important; */
    /* font: 1.0em "Arial", sans-serif !important; */
    /* text-align: center !important; */
    }
    
  .selection-popup-button:hover {
    all: revert;
    background-color: var(--selection-button-background-hover) !important;
    cursor: pointer;
    color: white;
    transition: background-color 25ms ease-in-out !important;
   }

  .button-with-border {
    border-left: 1px solid var(--selection-button-background-hover) !important;
  }

/* Text selection */
::selection {
    color: var(--selection-text-color);
    background:  var(--selection-background);
    text-shadow: var( --selection-text-shadow);
}
/* for Mozilla Firefox */
::-moz-selection {
    color: var(--selection-text-color);
    background: var(--selection-background) !important;
    text-shadow:var( --selection-text-shadow);
}


/* Secondary tooltip (custom search options) */
.secondary-selection-tooltip {
  transition: top 300ms ease-in-out, opacity 300ms ease-in-out;
  opacity: 0.0;
  top: 0px;
  left: 0px;
  z-index: 9998 !important;
  position: absolute;
  margin: 0px !important;
  padding: 0px !important;
  display: inline-block;
  /* vertical-align: middle;
  align-items: center; */
}

.secondary-selection-tooltip-bottom-div {
  left: 0px;
  bottom: -5px;
  position: absolute;
  height: 5px;
  z-index: 9999 !important;
  background: transparent !important;
}

.image-button {
  all: revert;
  /* transform: scale(1.0); */
  /* transition: transform 100ms ease-in-out; */
  padding: 4px 6px;
  vertical-align: middle;
}

.image-button:hover {
  /* transform: scale(1.5); */
  /* transition: transform 100ms ease-in-out; */
  cursor: pointer;
  background-color: var(--selection-button-background-hover) !important;
}

.selection-popup-color-preview-circle {
  max-width: 9px; max-height: 9px; padding: 0px 8px; margin: 9px 3px; border-radius: 50%; border:solid 1px var(--selection-button-background-hover); display: inline;
}
