body {
  margin: 9px;
}

.option {
  padding: 4px;
}

.option:hover {
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: all 200ms ease-in-out;
}

label {
  cursor: pointer;
}

hr {
  opacity: 0.2;
  color: grey;
}

#customSearchUrl {
  max-width: 100%;
}

.option input {
  max-width: 65px;
  margin-right: 6px;
}

.option select {
  margin-right: 6px;
}

input[type="checkbox"]  {
  cursor: pointer;
}

.disabled-option {
  opacity: 0.5;
  transition: opacity 150ms ease-in-out;
  pointer-events: none;
}

.enabled-option {
  opacity: 1.0;
  transition: opacity 150ms ease-in-out;
}

.visible-option {
  opacity: 1.0;
}

.hidden-option {
  display: none;
  pointer-events: none;
}

h3 {
  color: grey;
  padding-top: 10px;
}

h4 {
  color: grey;
  opacity: 0.65;
  font-weight: 500;
}

/*
#allChangesSavedAutomaticallyHeader {
  text-align: center;
}
*/

#footer-buttons button {
  margin: 3px !important;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

#customSearchButtonsContainer {
  margin-top: 15px;
}

select {
  margin: 5px 0px;
  cursor: pointer;
}

/* Collapsible settings headers */
/* Style the button that is used to open and close the collapsible content */
.collapsible-header {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px 6px 18px 12px;
  /* width: 100%; */
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 2px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible-header:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.collapsible-content {
  /* padding: 6px 0px 6px 12px; */
  /* border: solid 1px lightgrey; */
  padding-left: 8px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-left: 1px solid lightgray;
}

/* .collapsible-header:after {
  content: '\002B'; 
  font-size: 30px;
  float: right;
  opacity: 0.5;
  transform: translate(0, -7px);
}

.active:after {
content: "\2212";
} */

#selecton-version {
  text-align: center;
}

#additional-settings-block {
  width: 100%;
}

#customSearchTooltipHint, #markerHintHeader {
  margin: 0px 0px 15px;
}

.custom-search-option-url-input {
  display: inline; min-width: 100%; max-width: 100%; 
}

.custom-search-option-move-button {
  max-width: 25px; padding: 1px; align-items: center
}

.custom-search-option-url-label {
  display: inline; opacity: 0.5;
}

.custom-search-option-icon-input {
  min-width: 100%; max-width: 100%; margin-top: 3px !important;
}

/* Collapsible header arrow  */
.collapsible-header:after { 
  content: '❮';  
  font-size: 18px; 
  font-weight: 50; 
  float: right; 
  opacity: 0.5; 
  transform: translate(-7px, -2px) rotate(-90deg); 
  transition: transform 150ms ease; 
} 
   
.active:after { 
  transform: translate(-7px, -2px) rotate(-270deg); 
} 


/* Markers section */
.marker-website-tile {
  cursor: pointer;
  position: relative  !important;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin: 3px 0px;
}

.marker-website-favicon {
  display: inline; margin-right: 5px; width: 15px; height: 15px; vertical-align: middle !important;
}

.markers-counter-circle {
  position: absolute;
  bottom: 1px;
  right: 1px;
  background: rgba(85, 85, 85, 0.438); color: white;
  font-size: 14px;
  padding: 0px 6px;
  border-bottom-right-radius: 3px;
}

.marker-tile {
  position: relative;
  padding: 6px 0px;
  overflow-y: auto;
  max-height: 60px; cursor: pointer;
}

.marker-color-preview {
  max-width: 4px; max-height: 4px; padding: 0px 8.5px; margin-right: 5px; margin-left: 2px; border-radius: 2px; 
  border: 1px solid lightgray;
  display: inline;
}

/* Marker delete button */
.marker-highlight-delete {
  position: absolute;
  top: 1px;
  right: 1px;
  background: #555;
  color: white;
  /* border-radius: 50%; */
  /* border: 1px solid lightgray; */
  border-top-right-radius: 3px;
  z-index: 999999999999;
  opacity: 0;
  font-size: 14px;
  transition: opacity 200ms;
  padding: 0px 4px;
  cursor: pointer;
}

.marker-tile:hover .marker-highlight-delete {
  opacity: 0.85;
}

.marker-highlight-delete:hover {
  background: red;
}

/* 'What's new' button color */
#selecton-version a { color: #55b5ff !important; }


@media (min-width: 600px) {
  #footer-buttons { text-align: center; }
  #footer-buttons button { width: unset;  display: inline; }
  #allChangesSavedAutomaticallyHeader { text-align: center; }
}

@-moz-document url-prefix() {
  body { font-size: 14px; font-family: sans-serif !important; line-height: 1.0 !important; }
  h3 {font-size: 18px; font-weight: 600;}
}


@media not all and (min-resolution:.001dpcm){ @supports (-webkit-appearance:none) { 
  .collapsible-header { 
    background-color: rgba(211,211,211, 0.6); 
    cursor: auto; 
    border-radius: 4px; 
    padding: 16px 6px 16px 12px; 
  } 

  .custom-search-option-move-button{
    max-width: 40px; width: 40px; padding: 2.5px;
  }

  .active, .collapsible-header:hover { 
    background-color: rgba(211,211,211, 0.6); 
  }  
   
  h4 { 
    color: black; 
    opacity: 0.3; 
  } 
 
  button { 
    padding: 6px; cursor: auto;  
  } 
 
  button img { display: none; } 
 
  .option, label { cursor: auto; } 
 
  .option:hover { 
    background-color: unset; 
  } 
 
  hr { 
    opacity: 0.5; 
  } 
}}

@media (prefers-color-scheme: dark) {
    body {
        background: rgb(40,41,44);
        color: white;
    }

    h4 {
      opacity: 0.7;
    }

    .collapsible-header {
      background-color: rgba(238, 238, 238, 0.528);
      color: white;
    }

    .collapsible-header:hover {
      background-color: rgba(204, 204, 204, 0.503);
    }

    .option:hover {
      background-color: rgb(256, 256, 256, 0.1);
    }
 }