body {
  min-width: 360px;
}

button {
  cursor: pointer;
}

form {
  padding: 0px 15px;
}

.option {
  padding: 4px;
  /* cursor: pointer; */
}

.option:hover {
  /* cursor: pointer; */
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: all 200ms ease-in-out;
}

label {
  cursor: pointer;
}

hr {
  opacity: 0.1;
  color: grey;
}

.option input {
    max-width: 65px;
    margin-right: 6px;
}

.option input[type="checkbox"]  {
  cursor: pointer;
  position: relative;
  vertical-align: middle;
}

.disabled-option {
  opacity: 0.5;
  transition: all 150ms ease-in-out;
  pointer-events: none;
}

.enabled-option {
  opacity: 1.0;
  transition: all 150ms ease-in-out;
}

h3 {
  color: grey;
  padding-top: 10px;
}

h4 {
  color: grey;
  text-align: center;
  opacity: 0.65;
  font-weight: 600;
}

#allChangesSavedAutomaticallyHeader {
  padding-top: 21px;
}

button {
  margin: 3px !important;
  width: 100%;
  text-align: center;
}


/* #customStylesSection {
  border: solid 1px grey;
  border-radius: 8px;
  padding: 3px;
  margin: 3px;
} */