body {
  min-width: 360px;
}

button {
  cursor: pointer;
}

form {
  padding: 0px 15px;
}

.option {
  padding: 4px;
}

.option:hover {
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: all 200ms ease-in-out;
}

label {
  cursor: pointer;
}

hr {
  opacity: 0.1;
  color: grey;
}

.option input {
  max-width: 65px;
  margin-right: 6px;
}

#customSearchUrl {
  max-width: 100%;
}

.option select {
  margin-right: 6px;
}

input[type="checkbox"]  {
  cursor: pointer;
}

.disabled-option {
  opacity: 0.5;
  transition: opacity 150ms ease-in-out;
  pointer-events: none;
}

.enabled-option {
  opacity: 1.0;
  transition: opacity 150ms ease-in-out;
}

.visible-option {
  opacity: 1.0;
}

.hidden-option {
  display: none;
}

h3 {
  color: grey;
  padding-top: 10px;
}

h4 {
  color: grey;
  opacity: 0.65;
  font-weight: 500;
}

#allChangesSavedAutomaticallyHeader {
  padding-top: 21px;
  text-align: center;
}

button {
  margin: 3px !important;
  width: 100%;
  text-align: center;
}

#customSearchButtonsContainer {
  /* background: lightgrey;
  border-radius: 6px; */
  margin-top: 15px;
}