/* Tooltip */
.selection-tooltip {
  all: revert;
  /* background: #4c4c4c; */
  background: var(--selecton-background-color);
  opacity: 0;
  display: inline-block;
  position: absolute;
  /* padding: 2px; */
  padding: var(--selecton-tooltip-inner-padding);
  color: white;
  border-radius: var(--selecton-border-radius);
  font-stretch: condensed;
  text-decoration: none;
  z-index: 100001 !important;
  max-height: 24px !important;
  margin: 0px !important;
  line-height: 1.0 !important; 
  box-sizing: unset !important;
  border: 0.25px solid var(--selecton-outline-color);
}

/* Arrow */
.selection-tooltip-arrow {
  z-index: 100000 !important;
  height: 15px;
  overflow: hidden;
  position: absolute;
  left:  50%;
  background: transparent !important;
  box-shadow: none !important;
  bottom:-50%;
  width: 25px;
  transform: translate(-12.5px, 0px);
}

.arrow-on-top {
  bottom:-50%;
  transform: translate(-12.5px, 0px);
}

.arrow-on-bottom {
  bottom: unset;
  top:-50%;
  transform: rotate(180deg) translate(12.5px, 0px);
}

.selection-tooltip-arrow-child {
  content: "";
  position: absolute;
  left: 25%;
  bottom: 50%;
  width: 15px;
  height: 15px;
  transform:  translate(0px, 1.5px) rotate(45deg);
  border-bottom: 0.25px solid var(--selecton-outline-color);
  border-right: 0.25px solid var(--selecton-outline-color);
  background: var(--selecton-background-color);
}

/* Buttons */
.selection-popup-button {
  all: revert;
  font: status-bar !important;
  font-weight: 500 !important;
  letter-spacing: 0 !important;
  color: var(--selection-button-foreground) !important;
  background-color: transparent !important;
  cursor: pointer;
  border: none !important;
  box-shadow: none !important;
  z-index: 100000 !important;
  padding:  var(--selecton-button-padding) !important;
  vertical-align: top !important;
  font-family: Arial, Helvetica, sans-serif !important;
  height: 100% !important;
  min-height: 100% !important;
  margin: 0px !important;
  transition: background-color 25ms ease-in-out !important;
  text-transform: none !important;
  outline: none !important;
  text-align: center !important;
  font-size: var(--selecton-font-size) !important;
  line-height: 1.2 !important; 
}

.selection-popup-button span {
  vertical-align: middle !important;
}

.color-highlight {
  color: var(--selecton-secondary-color) !important;
}
    
.selection-popup-button:hover, .hovered-tooltip-button {
  all: revert;
  background-color: var(--selection-button-background-hover) !important;
  background-clip: padding-box !important;
  cursor: pointer;
  color: white !important;
  transition: background-color 25ms ease-in-out !important;
}

.selecton-live-translation {
  color: var(--selecton-secondary-color) !important;
}

/* Secondary tooltip (custom search options) */
.secondary-selection-tooltip {
  all: revert;
  transition: top var(--selecton-anim-duration) ease-out, opacity var(--selecton-anim-duration) ease-out;
  opacity: 0.0;
  left: 0px;
  z-index: 99999 !important;
  position: fixed;
  margin: 0px !important;
  padding: 0px !important;
  display: inline-block;
  line-height: 1.0 !important; 
  border: 0.25px solid var(--selecton-outline-color);
  background: var(--selecton-background-color);
}

.custom-search-image-button {
  all: revert;
  padding: 6px;
  vertical-align: middle;
  height: max-content;
  font-size: var(--selecton-font-size) !important;
  font-family: Arial, Helvetica, sans-serif !important;
  color: var(--selection-button-foreground);
}

.custom-search-image-button:hover {
  cursor: pointer;
  background-color: var(--selection-button-background-hover) !important;
  color: white;
}

.custom-search-image-button span {
  display: inline; vertical-align: top; opacity: 0.75; padding: 2px 5px;
}

.custom-search-image-button img {
  all: revert;
}

.selection-popup-color-preview-circle {
  max-width: 9px; max-height: 9px; padding: 0px 7.5px; margin-right: 4.5px; border-radius: 50%; 
  /* border:solid 1px var(--selection-button-background-hover);  */
  display: inline;
}

.button-with-border {
  border-left: var(--selecton-button-border-left) !important;
  border-right: var(--selecton-button-border-right) !important;
}

/* Highter z-index for search tooltip on bottom */
.higher-z-index {
  z-index: 100001 !important;
}

.selection-tooltip-draghandle {
  position: fixed; z-index: 99998; left: 0px; top: 0px; opacity:0; 
  /* background: var(--selecton-background-color) !important; */
}

.selection-tooltip-draghandle-line {
  background: var(--selecton-background-color); opacity: 0.7; position: absolute; border-radius: 4px;
}

.selection-tooltip-draghandle-circle {
  border: 0.25px solid var(--selecton-outline-color);z-index: 99998;border-radius: 50%;background: var(--selecton-background-color);position: relative;
  height: var(--selecton-handle-circle-radius); width: var(--selecton-handle-circle-radius);
}

.selecton-button-img-icon {
  all: revert; fill: white; 
  vertical-align: top !important; display: unset !important;  transform: translate(0, -1px);
  height: var(--selecton-button-icon-height); max-height: var(--selecton-button-icon-height) !important;
  filter: var(--selecton-button-icon-invert) !important;
}

.selecton-search-tooltip-icon {
  filter: none;
  width: var(--selecton-search-tooltip-icon-size);
  height: var(--selecton-search-tooltip-icon-size) !important;
  max-height: var(--selecton-search-tooltip-icon-size);
}