#selecton-settings-label {
    display: inline; font-size: 18px;vertical-align: middle; color: grey; 
}

.circleButton {
    opacity: 0.8;
    border-radius: 50%;
    padding: 3px;
    margin-left: 3px;
}

.float {
    float: right;
}

.circleButton:hover{
    background-color: lightGrey;
    cursor: pointer;
}